@page
@model RazorHotelDB.Pages.Hotels.EditModel
@{
    ViewData["Title"] = "EditHotel";
}

<h1>Edit Hotel</h1>


<p>
    <table class="table-info">
        <caption style="display: inline-block; background: #16643d; color: #fff; padding: 5px 10px; border-radius: 8px">
            <strong> Original Data: </strong> </caption>
        <tbody>
            <tr>
                <th>
                    Hotel Number
                </th>
                <td>
                    @Model.HotelToEdit.HotelNr
                </td>
            </tr>
            <tr>
                <th>
                    Name
                </th>
                <td>
                    @Model.HotelToEdit.Navn
                </td>
            </tr>
            <tr>
                <th>
                    Adress
                </th>
                <td>
                    @Model.HotelToEdit.Adresse
                </td>
            </tr>
        </tbody>
    </table>
</p>



<form method="post">
    <div class="form-group">
        <label asp-for="@Model.EditHotelNumber">Hotel Number:</label>
        <input asp-for="@Model.EditHotelNumber" placeholder="@Model.HotelToEdit.HotelNr"/>
    </div>
    <div class="form-group">
        <label asp-for="@Model.EditHotelName">Hotel Name:</label>
        <input asp-for="@Model.EditHotelName" placeholder="@Model.HotelToEdit.Navn" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.EditHotelAddress">Hotel Adresse:</label>
        <input asp-for="@Model.EditHotelAddress" placeholder="@Model.HotelToEdit.Adresse" />
    </div>
    <button type="submit" value="Submit" class="btn btn-primary" />
</form>

